# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
*.ipr
*.iws

# Android
**/android/**/local.properties
**/android/.gradle/
**/android/captures/
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/

# Secrets
.env
assets/env/.env
*.jks
